

<h3 class="page-heading">File System</h3>
<div class="gf-form">
    <span class="gf-form-label width-7">System</span>
    <div class="gf-form-select-wrapper max-width-23">
        <select class="gf-form-input" 
          ng-model="ctrl.datasourceName" 
          ng-change="ctrl.onFileSystemChanged()"
          >
          <option value="" ng-if="!ctrl.server">** Select File System **</option>
          <option ng-repeat="name in ctrl.serverNames" value="{{name}}">{{name}}</option>
        </select>
    </div>
    <span class="gf-form">
      <a href="#X" style="color:aqua;"><i class="fa fa-cog" aria-hidden="true"></i> configure</a>
    </span>
</div>
<br/>


DIRECTORY:
<pre>
    {{ctrl.directory | json}}
</pre>