<div>
  <label class="gf-form gf-form--grow gf-form--has-input-icon"
    ng-if="ctrl.panel.showPath && ctrl.panel.allowNavigation" >
    <input type="text" 
      class="gf-form-input gf-form--grow" 
      ng-model="ctrl.path" 
      ng-keypress="ctrl.onKeyPress( $event )"/>><i class="gf-form-input-icon fa fa-folder-open-o"></i>
  </label>

  <table 
    width="100%" 
    ng-if="ctrl.directory.files" 
    class="filter-table form-inline filter-table--hover"
    style="margin-bottom: 20px;">
    <tr ng-if="ctrl.panel.showHeaders">
      <th>Name</th>
      <th>Modified</th>
    </tr>
    <tr ng-if="ctrl.panel.allowNavigation && ctrl.path.length > 1" ng-click="ctrl._navigate('..')" style="cursor:pointer;">
      <td colspan="2" title="Navigate up a folder">
         .. 
      </td>
    </tr>
    <tr ng-repeat="f in ctrl.directory.files">
      <td ng-click="ctrl.clicked(f, $event)" style="cursor:pointer;">
          <a download ng-href="{{ f.url }}">{{ f.name }}</a>
      </td>
      <td>
          {{ f.type }}
      </td>
    </tr>
  </table>
</div>